@import '../../styles/colors';

$gameboy-body-color: #989181;
$center-panel-color: #282828;
$dpad-button-color: #3a3a3a;
$dpad-button-border-radius: 2px;
$action-button-color: #660459;

@font-face {
  font-family: "Pixel";
  src: url("../../../static/pixel-in.ttf") format("truetype");
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
}

#root {
  display: grid;
  justify-items: center;
  background-color: darken($center-panel-color, 10%);
}

.app {
  display: grid;
  box-sizing: border-box;
  padding: 30px;
  background-color: $center-panel-color;
}

.title {
  font-family: "Pixel";
  font-size: 6vw;
  color: white;
  text-shadow: 3px 10px 2px black;
}

.button-wrapper {
  display: flex;
}

.gameboy {
  display: grid;
  aspect-ratio: 5 / 8;
  grid-template-rows: auto 1fr;
  padding: 5px;
  border-radius: 10px 10px 40px 10px;
  background-color: $gameboy-body-color;
  box-shadow: inset 0px -5px rgba(0, 0, 0, 0.5),
  inset 2px 0px rgba(0, 0, 0, 0.3),
  inset -2px 0px rgba(0, 0, 0, 0.2);
}

#main-canvas {
  background-color: white;
  border-radius: 4px;
  width: 100%;
}

.control-panel {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.dpad-button {
  background-color: $dpad-button-color;
  border-radius: $dpad-button-border-radius;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.2);
}

#up-button {
  @extend .dpad-button;
  clip-path: inset(-8px -8px 0px -8px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  grid-row: 2;
  grid-column: 3;
}

#down-button {
  @extend .dpad-button;
  clip-path: inset(0 -8px -8px -8px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  grid-row: 4;
  grid-column: 3;
}

#left-button {
  @extend .dpad-button;
  clip-path: inset(-8px 0 -8px -8px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  grid-row: 3;
  grid-column: 2;
}

#right-button {
  @extend .dpad-button;
  clip-path: inset(-8px -8px -8px 0);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  grid-row: 3;
  grid-column: 4;
}

#a-button {
  border-radius: 50%;
  background-color: $action-button-color;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 90%);
  grid-row: 3;
  grid-column: 9;
}

#b-button {
  border-radius: 50%;
  background-color: $action-button-color;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 90%);
  grid-row: 4;
  grid-column: 8;
}

#center-button {
  background-color: $dpad-button-color;
  grid-row: 3;
  grid-column: 3;
}

.cpu-info {
  grid-area: cpu-info;
}

.object-debugger {
  grid-area: object-debugger;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.tile-debugger {
  grid-area: tile-debugger;
}

.audio-debugger {
  grid-area: audio-debugger;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;

  & > h3 {
    grid-column: span 2;
  }

  width: fit-content;
  height: fit-content;
}

.menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#object-canvas {
  background-color: #a3b0a3;
  width: 160px;
  border: 1px solid black;
}

#oscilloscope-canvas {
  background-color: white;
  width: 200px;
  border: 1px solid black;
}

#ch1-canvas, #ch2-canvas, #ch3-canvas, #ch4-canvas {
  background-color: white;
  width: 200px;
  border: 1px solid black;
}

#tile-canvas {
  background-color: #a3b0a3;
  width: 256px;
  border: 1px solid black;
}

.button {
  display: block;
  cursor: pointer;
  padding: 8px;

  &:not(:first-child) {
    margin-left: 20px;
  }

  background-color: $button-color;
  color: white;

  &:hover {
    background-color: darken($button-color, 10%);
  }
}

.hidden {
  display: none;
}