@import '../../styles/colors';

$dpad-button-border-radius: 2px;
$button-shadow-size: 3px;

$app-padding: 15px;
$app-row-gap: 20px;
$title-height: 50px;
$button-height: 35px;
$gameboy-padding: 8px;
$gameboy-canvas-border: 3px;

@font-face {
  font-family: "Pixel";
  src: url("../../../static/DigitalDisco.ttf") format("truetype");
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darken($center-panel-color, 10%);
}

.app {
  display: flex;
  outline: none;
  gap: $app-row-gap;
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
  width: calc(2 * #{$app-padding} + ((100vh - 2 * #{$app-padding} - 2 * #{$app-row-gap} - #{$title-height} - #{$button-height} - #{$gameboy-padding} - 2 * #{$gameboy-canvas-border}) / 1.6));
  flex-direction: column;
  box-sizing: border-box;
  padding: $app-padding;
  background-color: $center-panel-color;
}

.title {
  text-align: center;
  font-size: $title-height;
  line-height: $title-height;
  font-family: "Pixel";
  color: white;
  text-shadow: 3px 10px 2px black;
}

.button-wrapper {
  display: flex;
}

.gameboy {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  box-sizing: border-box;
  padding: $gameboy-padding $gameboy-padding 0;
  border-radius: 10px 10px 40px 10px;
  background-color: $gameboy-body-color;
  box-shadow: 6px 8px 2px darken($gameboy-body-color, 25%);
}

#main-canvas {
  margin: -3px;
  margin-bottom: 0;
  border: $gameboy-canvas-border solid black;
  background-color: #0f0f0f;
  border-radius: 4px;
  width: 100%;
}

.control-panel {
  display: grid;
  aspect-ratio: 10 / 7;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.action-panel {
  display: grid;
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.dpad-button {
  position: relative;
  cursor: pointer;
  border-radius: $dpad-button-border-radius;
  box-shadow: 0 0 $button-shadow-size $button-shadow-size rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.2);
}

@mixin dpad-highlight {
  display: block;
  position: absolute;
  content: ' ';
  top: calc(10% - 1px);
  left: calc(10% - 1px);
  width: 80%;
  height: 80%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $dpad-button-color;
}

#up-button {
  @extend .dpad-button;
  background: linear-gradient(to bottom, $dpad-highlight-color 10%, transparent 10%),
  linear-gradient(to right, $dpad-highlight-color 5%, transparent 5% 95%, $dpad-highlight-color 95%),
  linear-gradient(to bottom, $dpad-button-color, $dpad-button-color);

  &:hover {
    background: linear-gradient(to bottom, $dpad-highlight-color 10%, transparent 10%),
    linear-gradient(to right, $dpad-highlight-color 5%, transparent 5% 95%, $dpad-highlight-color 95%),
    linear-gradient(to bottom, $dpad-button-hover-color, $dpad-button-hover-color);
  }

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  grid-row: 2;
  grid-column: 3;
}

#down-button {
  @extend .dpad-button;
  background: linear-gradient(to top, $dpad-highlight-color 5%, transparent 5%),
  linear-gradient(to right, $dpad-highlight-color 5%, transparent 5% 95%, $dpad-highlight-color 95%),
  linear-gradient(to bottom, $dpad-button-color, $dpad-button-color);

  &:hover {
    background: linear-gradient(to top, $dpad-highlight-color 5%, transparent 5%),
    linear-gradient(to right, $dpad-highlight-color 5%, transparent 5% 95%, $dpad-highlight-color 95%),
    linear-gradient(to bottom, $dpad-button-hover-color, $dpad-button-hover-color);
  }

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  grid-row: 4;
  grid-column: 3;
}

#left-button {
  @extend .dpad-button;
  background: linear-gradient(to bottom, $dpad-highlight-color 10%, transparent 5% 95%, $dpad-highlight-color 95%),
  linear-gradient(to bottom, $dpad-button-color, $dpad-button-color);

  &:hover {
    background: linear-gradient(to bottom, $dpad-highlight-color 10%, transparent 5% 95%, $dpad-highlight-color 95%),
    linear-gradient(to bottom, $dpad-button-hover-color, $dpad-button-hover-color);
  }

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  grid-row: 3;
  grid-column: 2;
}

#right-button {
  @extend .dpad-button;
  background: linear-gradient(to bottom, $dpad-highlight-color 10%, transparent 5% 95%, $dpad-highlight-color 95%),
  linear-gradient(to bottom, $dpad-button-color, $dpad-button-color);

  &:hover {
    background: linear-gradient(to bottom, $dpad-highlight-color 10%, transparent 5% 95%, $dpad-highlight-color 95%),
    linear-gradient(to bottom, $dpad-button-hover-color, $dpad-button-hover-color);
  }

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  grid-row: 3;
  grid-column: 4;
}

@mixin action-button-highlight {
  display: flex;
  position: absolute;
  top: calc(10% - 0.1em);
  left: calc(10% - 01em);
  clip-path: polygon(0 0, 20% 0, 20% 10%, 80% 10%, 80% 0, 100% 0, 100% 50%, 50% 90%, 0 50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #660459;
  border: 0.1em solid rgba(255, 255, 255, 0.3);
}

.action-button-content {
  display: flex;
  content: ' ';
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.action-button {
  display: flex;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-color: $action-button-color;
  box-shadow: 0 0 $button-shadow-size $button-shadow-size rgba(0, 0, 0, 0.6);

  &:hover {
    background-color: $action-button-hover-color;

    > .label {
      background: radial-gradient(circle at center, $action-button-hover-color 56%, transparent 70%),
      conic-gradient(
                      $action-button-hover-color 30deg,
                      $action-button-highlight-color 30deg 90deg,
                      $action-button-hover-color 90deg 250deg,
                      $action-button-highlight-color 250deg 330deg,
                      $action-button-hover-color 330deg
      );
    }
  }

  > .label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #660459 56%, transparent 70%),
    conic-gradient(
                    $action-button-color 30deg,
                    $action-button-highlight-color 30deg 90deg,
                    $action-button-color 90deg 250deg,
                    $action-button-highlight-color 250deg 330deg,
                    $action-button-color 330deg
    );
    border-radius: 50%;
    color: #35022e;
    width: 80%;
    height: 80%;
  }
}

#a-button {
  grid-row: 1;
  grid-column: 2;
}

#b-button {
  grid-row: 2;
  grid-column: 1;
}

#center-button {
  position: relative;
  background-color: $dpad-button-color;
  grid-row: 3;
  grid-column: 3;

  &:after {
    display: flex;
    clip-path: circle(50% at 50% 50%);
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(to bottom, darken($dpad-button-color, 10%) 50%, rgba(255, 255, 255, 0.4));
  }
}

.cpu-info {
  grid-area: cpu-info;
}

.object-debugger {
  grid-area: object-debugger;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.tile-debugger {
  grid-area: tile-debugger;
}

.audio-debugger {
  grid-area: audio-debugger;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;

  & > h3 {
    grid-column: span 2;
  }

  width: fit-content;
  height: fit-content;
}

.menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#object-canvas {
  background-color: #a3b0a3;
  width: 160px;
  border: 1px solid black;
}

#oscilloscope-canvas {
  background-color: white;
  width: 200px;
  border: 1px solid black;
}

#ch1-canvas, #ch2-canvas, #ch3-canvas, #ch4-canvas {
  background-color: white;
  width: 200px;
  border: 1px solid black;
}

#tile-canvas {
  background-color: #a3b0a3;
  width: 256px;
  border: 1px solid black;
}

.button {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  height: $button-height;
  padding: 8px;
  box-sizing: border-box;
  background-color: $button-color;
  font-family: "Pixel";
  border-radius: 3px;
  text-shadow: 2px 2px 2px black;
  color: white;

  &:hover {
    background-color: darken($button-color, 10%);
  }
}

.button-bar {
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}