.app {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: Roboto,Arial,sans-serif;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "navbar"
        "content";

    .navbar {
        grid-area: navbar;
    }
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}